In [96]:
import pandas as pd

In [97]:
medals_df = pd.read_csv('../data/raw/olympic_medals.csv')
hosts_df = pd.read_csv('../data/raw/olympic_hosts.csv')
paris_df = pd.read_csv('../data/raw/paris_medallists.csv')

In [98]:
def clean_paris_duplicates(paris_df):
    condition = paris_df['event_type'].isin(['TEAM', 'HTEAM', 'HCOUP', 'COUP'])
    
    #Gets all team events and drops duplicates
    paris_df_filtered = paris_df[condition].drop_duplicates(
        subset=['medal_date', 'medal_type', 'medal_code', 'country_code', 'country', 
                'country_long', 'nationality_code', 'nationality', 'nationality_long'], 
        keep='first'
    )
    
    # Combines filtered team events with individual events
    paris_df_update = pd.concat([paris_df[~condition], paris_df_filtered])
    return(paris_df_update)

def clean_medal_duplicates(medals_df):
    condition = medals_df['participant_type'].isin(['GameTeam'])
    
    #Gets all team events and drops duplicates
    medals_df_filtered = medals_df[condition].drop_duplicates(
        subset=['discipline_title', 'slug_game', 'event_title', 'event_gender',
       'medal_type'], 
        keep='first'
    )
    
    # Combines filtered team events with individual events
    medals_df_update = pd.concat([medals_df[~condition], medals_df_filtered])
    return(medals_df_update)

In [99]:
medals_df.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [100]:
medals_df = clean_medal_duplicates(medals_df)

In [101]:
medals_df.tail()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
21632,Gymnastics Artistic,athens-1896,team parallel bars men,Men,BRONZE,GameTeam,Ethnikos Gymnastikos Syllogos #2,NaN,Filippos Karvelas,Greece,GR,GRE
21634,Gymnastics Artistic,athens-1896,team horizontal bar men,Men,GOLD,GameTeam,Germany team,NaN,NaN,Germany,DE,GER
21682,Tennis,athens-1896,doubles men,Men,GOLD,GameTeam,Mixed team #2,https://olympics.com/en/athletes/john-boland,John BOLAND,MIX,NaN,MIX
21684,Tennis,athens-1896,doubles men,Men,SILVER,GameTeam,Greece team #1,NaN,Demetrius Casdagli,Greece,GR,GRE
21686,Tennis,athens-1896,doubles men,Men,BRONZE,GameTeam,Mixed team #1,https://olympics.com/en/athletes/edwin-flack,Edwin FLACK,MIX,NaN,MIX

In [102]:
paris_df = clean_paris_duplicates(paris_df)

In [103]:
medals_df['participant_type'].value_counts()

participant_type
Athlete     15113
GameTeam     5071
Name: count, dtype: int64

In [104]:
columns_to_drop = ['participant_title', 'participant_type', 'event_gender', 'athlete_url', 'athlete_full_name', 'country_code', 'country_3_letter_code']
medals_df.drop(columns_to_drop, axis=1, inplace=True)
medals_df.head()

,discipline_title,slug_game,event_title,medal_type,country_name
12,Freestyle Skiing,beijing-2022,Men's Moguls,SILVER,Canada
13,Freestyle Skiing,beijing-2022,Men's Moguls,GOLD,Sweden
14,Freestyle Skiing,beijing-2022,Men's Moguls,BRONZE,Japan
15,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,GOLD,New Zealand
16,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,SILVER,United States of America

In [105]:
hosts_df.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [106]:
summer_hosts = hosts_df[hosts_df['game_season'] == 'Summer']

In [107]:
summer_hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004

In [108]:
def create_country_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_location'].iloc[i]

def create_year_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_year'].iloc[i]

def create_season_column(slug):
    for i, host_slug in enumerate(hosts_df['game_slug']):
        if slug == host_slug:
            return hosts_df['game_season'].iloc[i]

In [109]:
df = medals_df.copy()

In [110]:
df['host_country'] = medals_df['slug_game'].apply(create_country_column)
df['game_year'] = medals_df['slug_game'].apply(create_year_column)
df['game_season'] = medals_df['slug_game'].apply(create_season_column)

In [111]:
df = df[df['game_season'] == 'Summer']
df = df[df['game_year'] >= 1920]
df.reset_index(drop=True, inplace=True)

In [112]:
df.head()

,discipline_title,slug_game,event_title,medal_type,country_name,host_country,game_year,game_season
0,Shooting,tokyo-2020,50m Rifle 3 Positions women,SILVER,ROC,Japan,2020,Summer
1,Shooting,tokyo-2020,50m Rifle 3 Positions women,BRONZE,ROC,Japan,2020,Summer
2,Shooting,tokyo-2020,50m Rifle 3 Positions women,GOLD,Switzerland,Japan,2020,Summer
3,Shooting,tokyo-2020,50m Rifle 3 Positions Men,BRONZE,Serbia,Japan,2020,Summer
4,Shooting,tokyo-2020,50m Rifle 3 Positions Men,GOLD,People's Republic of China,Japan,2020,Summer

In [113]:
df.tail()

,discipline_title,slug_game,event_title,medal_type,country_name,host_country,game_year,game_season
15389,Archery,antwerp-1920,moving bird target 28m teams men,BRONZE,France,Belgium,1920,Summer
15390,Archery,antwerp-1920,fixed bird target large birds teams men,GOLD,Belgium,Belgium,1920,Summer
15391,Figure skating,antwerp-1920,Pairs mixed,GOLD,Finland,Belgium,1920,Summer
15392,Figure skating,antwerp-1920,Pairs mixed,SILVER,Norway,Belgium,1920,Summer
15393,Figure skating,antwerp-1920,Pairs mixed,BRONZE,Great Britain,Belgium,1920,Summer

In [114]:
df.isnull().values.any()

False

In [115]:
df.drop(['slug_game', 'game_season'], axis=1, inplace=True)
df.head()

,discipline_title,event_title,medal_type,country_name,host_country,game_year
0,Shooting,50m Rifle 3 Positions women,SILVER,ROC,Japan,2020
1,Shooting,50m Rifle 3 Positions women,BRONZE,ROC,Japan,2020
2,Shooting,50m Rifle 3 Positions women,GOLD,Switzerland,Japan,2020
3,Shooting,50m Rifle 3 Positions Men,BRONZE,Serbia,Japan,2020
4,Shooting,50m Rifle 3 Positions Men,GOLD,People's Republic of China,Japan,2020

In [116]:
paris_df.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True

In [117]:
paris_df.columns

Index(['medal_date', 'medal_type', 'medal_code', 'name', 'gender',
       'country_code', 'country', 'country_long', 'nationality_code',
       'nationality', 'nationality_long', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code_athlete',
       'code_team', 'is_medallist'],
      dtype='object')

In [118]:
tiny_paris_df = paris_df.drop(columns=['medal_date', 'medal_code', 'name', 'gender',
       'country_code', 'country_long', 'nationality_code',
       'nationality', 'nationality_long', 'team', 'team_gender', 
       'event_type', 'url_event', 'birth_date', 'code_athlete',
       'code_team', 'is_medallist'])

In [119]:
tiny_paris_df.head()

     medal_type        country    discipline                          event
0    Gold Medal        Belgium  Cycling Road    Men's Individual Time Trial
1  Silver Medal          Italy  Cycling Road    Men's Individual Time Trial
2  Bronze Medal        Belgium  Cycling Road    Men's Individual Time Trial
3    Gold Medal      Australia  Cycling Road  Women's Individual Time Trial
4  Silver Medal  Great Britain  Cycling Road  Women's Individual Time Trial

In [120]:
def standardize_medal_type(medal):
    return medal.lower().strip().replace(' medal', '')

In [121]:
tiny_paris_df['medal_type'] = tiny_paris_df['medal_type'].apply(standardize_medal_type)

In [122]:
tiny_paris_df.head()

  medal_type        country    discipline                          event
0       gold        Belgium  Cycling Road    Men's Individual Time Trial
1     silver          Italy  Cycling Road    Men's Individual Time Trial
2     bronze        Belgium  Cycling Road    Men's Individual Time Trial
3       gold      Australia  Cycling Road  Women's Individual Time Trial
4     silver  Great Britain  Cycling Road  Women's Individual Time Trial

In [123]:
tiny_paris_df['host_country'] = 'France'

In [124]:
tiny_paris_df['game_year'] = 2024

In [125]:
tiny_paris_df.head()

,medal_type,country,discipline,event,host_country,game_year
0,gold,Belgium,Cycling Road,Men's Individual Time Trial,France,2024
1,silver,Italy,Cycling Road,Men's Individual Time Trial,France,2024
2,bronze,Belgium,Cycling Road,Men's Individual Time Trial,France,2024
3,gold,Australia,Cycling Road,Women's Individual Time Trial,France,2024
4,silver,Great Britain,Cycling Road,Women's Individual Time Trial,France,2024

In [126]:
def standardize_string(string):
    return string.lower().strip()

In [127]:
tiny_paris_df['country'] = tiny_paris_df['country'].apply(standardize_string)
tiny_paris_df['host_country'] = tiny_paris_df['host_country'].apply(standardize_string)
tiny_paris_df['discipline'] = tiny_paris_df['discipline'].apply(standardize_string)
tiny_paris_df['event'] = tiny_paris_df['event'].apply(standardize_string)
tiny_paris_df.rename(columns={'country': 'athlete_country'}, inplace=True)

df['medal_type'] = df['medal_type'].apply(standardize_string)
df['host_country'] = df['host_country'].apply(standardize_string)
df['country_name'] = df['country_name'].apply(standardize_string)
df['discipline_title'] = df['discipline_title'].apply(standardize_string)
df['event_title'] = df['event_title'].apply(standardize_string)
df.rename(columns={'country_name': 'athlete_country'}, inplace=True)
df.rename(columns={'discipline_title': 'discipline'}, inplace=True)
df.rename(columns={'event_title': 'event'}, inplace=True)

In [128]:
full_df = pd.concat([df, tiny_paris_df], ignore_index=True)
full_df.head()

,discipline,event,medal_type,athlete_country,host_country,game_year
0,shooting,50m rifle 3 positions women,silver,roc,japan,2020
1,shooting,50m rifle 3 positions women,bronze,roc,japan,2020
2,shooting,50m rifle 3 positions women,gold,switzerland,japan,2020
3,shooting,50m rifle 3 positions men,bronze,serbia,japan,2020
4,shooting,50m rifle 3 positions men,gold,people's republic of china,japan,2020

In [129]:
def clean_country_names(df):
    # Dictionary of country names to change
    country_mapping = {
        'ir iran': 'iran',
        'islamic republic of iran': 'iran',
        'korea': 'south korea',
        'republic of korea': 'south korea',
        'united states': 'usa',
        'united states of america': 'usa',
        "democratic people's republic of korea": 'north korea',
        'dpr korea': 'north korea',
        'ain': 'individual neutral athletes',
        "people's republic of china": 'china',
        'czech republic': 'czechia',
        'türkiye': 'turkey',
    }
    
    # Replaces the names in the dataframe
    df['athlete_country'] = df['athlete_country'].replace(country_mapping)

    # Dictionary of country names to change
    host_country_mapping = {
        'republic of korea': 'south korea',
        'united states': 'usa',
        'australia, sweden' : 'australia'
    }

    df['host_country'] = df['host_country'].replace(host_country_mapping)
    
    return df

In [133]:
full_df = clean_country_names(full_df)

In [141]:
event_df = full_df.copy()

event_df['event'] = event_df['discipline'] + ' - ' + event_df['event']

In [145]:
event_df = event_df[['host_country', 'game_year', 'event', 'medal_type', 'athlete_country']]

In [147]:
event_df.tail()

,host_country,game_year,event,medal_type,athlete_country
16397,france,2024,water polo - men,gold,serbia
16398,france,2024,water polo - men,silver,croatia
16399,france,2024,water polo - men,bronze,usa
16400,france,2024,rhythmic gymnastics - group all-around,silver,israel
16401,france,2024,rhythmic gymnastics - group all-around,bronze,italy

In [149]:
event_df.head()

,host_country,game_year,event,medal_type,athlete_country
0,japan,2020,shooting - 50m rifle 3 positions women,silver,roc
1,japan,2020,shooting - 50m rifle 3 positions women,bronze,roc
2,japan,2020,shooting - 50m rifle 3 positions women,gold,switzerland
3,japan,2020,shooting - 50m rifle 3 positions men,bronze,serbia
4,japan,2020,shooting - 50m rifle 3 positions men,gold,china

In [151]:
event_df['athlete_country'].value_counts().head(20)

athlete_country
usa                                     2335
soviet union                            1009
great britain                            744
china                                    718
germany                                  714
france                                   662
italy                                    640
australia                                588
japan                                    541
hungary                                  495
russian federation                       425
sweden                                   414
german democratic republic (germany)     409
netherlands                              343
south korea                              318
canada                                   318
romania                                  316
poland                                   307
finland                                  271
cuba                                     239
Name: count, dtype: int64

In [155]:
event_df.to_csv('../data/clean/clean_summer_df_events.csv')